<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ title }}</title>

  <!-- CSS  -->
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" >
  <script src="{{ url_for('static', filename='css/modernizr.css') }}"></script> <!-- Modernizr -->
</head>