{% include 'header.html' %}
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

{% include 'navbar.html' %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="text_h center header cd-headline letters type">
      <span>Hello </span>
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">Human</b>
        <b>Alien</b>
        <b>Droid</b>
      </span>
    </h1>
    </div>
  </div>

 <div id="intro" class="section scrollspy">
  <div class="container">
      <!--   Icon Section   -->
    <div class="row">
          <div  class="col s12">
            <h2 class="center header text_h2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="span_h2"> Phasellus  </span>vestibulum lorem risus, nec suscipit lorem <span class="span_h2"> laoreet quis.</span </h2>
          </div>

            <div  class="col s12 m4 l4">
              <div class="center promo promo-example">
                <i class="mdi-image-flash-on"></i>
                <h5 class="promo-caption">Speeds up development</h5>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
              </div>
            </div>
            <div class="col s12 m4 l4">
              <div class="center promo promo-example">
                <i class="mdi-social-group"></i>
                <h5 class="promo-caption">User Experience Focused</h5>
                <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
              </div>
            </div>
            <div class="col s12 m4 l4">
              <div class="center promo promo-example">
                <i class="mdi-action-settings"></i>
               <h5 class="promo-caption">Easy to work with</h5>
                <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
              </div>
            </div>
      </div>

    <div class="row">
        <div  class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-action-favorite"></i>
            <h5 class="promo-caption">Materializecss</h5>
            <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-communication-phone"></i>
            <h5 class="promo-caption">Simplifies</h5>
            <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-communication-stay-current-portrait"></i>
           <h5 class="promo-caption">Lorem Ipsum</h5>
            <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="section scrollspy" id="work">
 <div class="container">
        <h2 class="header text_b"> Last Work </h2>
      <div class="row">
          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/03.jpg') }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"  src="{{ url_for('static', filename='img/04.jpg') }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"  src="{{ url_for('static', filename='img/03.jpg') }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>
        </div>
         <div class="row">
          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='img/04.jpg') }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"  src="{{ url_for('static', filename='img/05.jpg') }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
              </div>
          </div>

          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"  src="{{ url_for('static', filename='img/03.jpg') }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a  href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  <a class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>button</a>
                  </div>
              </div>
          </div>
        </div>
     </div>
  </div>
     </div>
  </div>

</div>


  <footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
 <div class="row">

        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum lorem risus, nec suscipit lorem laoreet quis.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">flask powered</h5>
          <ul>
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="#">Lab</a></li>
            <li><a class="white-text" href="#">Work</a></li>
            <li><a class="white-text" href="#">Contact</a></li>
            
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="white-text" href="#">Dribbble</a></li>
            <li><a class="white-text" href="#">Facebook</a></li>
            <li><a class="white-text" href="#">Twitter</a></li>
            <li><a class="white-text" href="#">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright default_color">
      <div class="container">
{#      Template Made by <a class="white-text" href="http://www.andreagalanti.it">Andrea Galanti</a>#}
          Powered by <a class="white-text" href="http://flask.pocoo.org/">Flask</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
